@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background: linear-gradient(#cfcfcf, transparent 1px),
    linear-gradient(90deg, #cfcfcf, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
  font-family: 'Reddit Mono', monospace;
  color: #383838;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 16px;
  font-weight: bold;
}

.container {
  margin: 0 auto;
  width: 600px;
  background-color: #fff;
}

.message {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #414141;

  &:nth-child(n + 2) {
    border-top: none;
  }
}

.from,
.subject,
.date {
  margin: 0;
  padding: 0;
}

.from {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject {
  flex: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  flex: 1;
  text-align: right;
  white-space: nowrap;
}
